<!DOCTYPE html>
<html lang="en">
<% include ../header.ejs %>
<script>
$(document).ready(function(){
  //가구 구성원 정보
  $.ajax({
    url: "/members/getMemberGbnByAjax",
    success: function(result){
      var oinfo = result.oinfo;
      var str="";
      for(var i=0; i < oinfo.length; i++) {
        if (oinfo[i].CODE == '<%=minfo.home_mem_gbn%>'){
          str += "<option value='"+oinfo[i].CODE+"' selected>"+oinfo[i].DESCRIPTION+"("+oinfo[i].CODE_NAME+")</option>";
        } else {
          str += "<option value='"+oinfo[i].CODE+"'>"+oinfo[i].DESCRIPTION+"("+oinfo[i].CODE_NAME+")</option>";
        }
      }
      $("#home_mem_gbn").html(str);
    }
  });
  //나이대 정보
  $.ajax({
    url: "/members/getAgeByAjax",
    success: function(result){
      var oinfo = result.oinfo;
      var str="";
      for(var i=0; i < oinfo.length; i++) {
        if (oinfo[i].CODE == '<%=minfo.user_years%>') {
          str += "<option value='"+oinfo[i].CODE+"' selected>"+oinfo[i].DESCRIPTION+"("+oinfo[i].CODE_NAME+")</option>";
        } else {
          str += "<option value='"+oinfo[i].CODE+"'>"+oinfo[i].DESCRIPTION+"("+oinfo[i].CODE_NAME+")</option>";
        }
      }
      $("#age").html(str);
    }
  });

  $.ajax({
    url: "/members/getRegionByAjax",
    success: function(result){
      var oinfo = result.reg1Info;
      var str="";
      for(var i=0; i < oinfo.length; i++) {
        if (oinfo[i].CODE == '<%=minfo.region1%>') {
          str += "<option value='"+oinfo[i].CODE+"' selected>"+oinfo[i].DESCRIPTION+"("+oinfo[i].CODE_NAME+")</option>";
        } else {
          str += "<option value='"+oinfo[i].CODE+"'>"+oinfo[i].DESCRIPTION+"("+oinfo[i].CODE_NAME+")</option>";
        }
      }
      $("#region1").html(str);
    }
  });

  $.ajax({
    url: "/members/getRegion2ByAjax",
    data: {region1: '<%=minfo.region1%>'},
    success: function(result){
      var oinfo = result.reg2Info;
      var str="";
      for(var i=0; i < oinfo.length; i++) {
        if (oinfo[i].CODE == '<%=minfo.region2%>') {
          str += "<option value='"+oinfo[i].CODE+"' selected>"+oinfo[i].DESCRIPTION+"("+oinfo[i].CODE_NAME+")</option>";
        } else {
          str += "<option value='"+oinfo[i].CODE+"'>"+oinfo[i].DESCRIPTION+"("+oinfo[i].CODE_NAME+")</option>";
        }
      }
      $("#region2").html(str);
    }
  });

  //region1별 세부 region2정보
  $("#region1").change(function(){
    $.ajax({
      url: "/members/getRegion2ByAjax",
      data: {region1: $('#region1 option:selected').val()},
      success: function(result){
        var oinfo = result.reg2Info;
        var str="";
        for(var i=0; i < oinfo.length; i++) {
          str += "<option value='"+oinfo[i].CODE+"'>"+oinfo[i].DESCRIPTION+"("+oinfo[i].CODE_NAME+")</option>";
        }
        $("#region2").html(str);
      }
    });
  });
});
</script>

<style>
  /* Remove the navbar's default rounded borders and increase the bottom margin */
  .navbar {
    margin-bottom: 10px;
    border-radius: 0;
  }

  /* Remove the jumbotron's default bottom margin */
   .jumbotron {
    margin-bottom: 0;
    height: 200px;
  }

  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 15px;
  }
</style>
</head>
<body>

<div class="jumbotron" style="height: 100px; padding-top: 0px; padding-bottom: 0px;">
  <div class="container text-center">
    <h2><font color="#33cc33"><strong>H</strong></font>ome <font color="#33cc33"><strong>S</strong></font>mart <font color="#33cc33"><strong>G</strong></font>rid <font color="#33cc33"><strong>C</strong></font>ontrol <font color="#33cc33"><strong>D</strong></font>evices...</h2>
    <p>bla bla~~</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/main">Home</a></li>
        <li class="active"><a href="/members/minfo_detail">Member</a></li>
        <li><a href="/ap_ep/ApEpManagement">AP / EP</a></li>
        <li><a href="/ap_ep/ApEpStatistics">Statistics</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> <%= displayUserName %> (<%= userId %>)</a></li>
        <li><a href="/auth/logout"><span class="glyphicon glyphicon-shopping-cart"></span> LogOut</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--본문 시작-->
<div class="container dotted">
  <h2 class="underline">Register Member</h2>
  <br>
  <form class="form-horizontal" method="post" action="/members/minfo_update">
    <div class="form-group">
      <label class="control-label col-sm-3" for="username">User ID : </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="username" id="username" placeholder="Enter your ID or email-address" readonly value="<%=minfo.user_id%>">
        <button type="button" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-search"></span> Validate</button>
      </div>

    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="password">Password:</label>
      <div class="col-sm-9">
        <input type="password" class="form-control" name="password" id="password" placeholder="Enter password">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="displayName">User Name : </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="displayName" id="displayName" placeholder="Enter your full name" readonly value="<%=minfo.user_name%>">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="email">Region : </label>
      <div id="select_box" class="dropdown col-sm-2">
        <select id="region1" name="region1" style="width:150px"></select>
	    </div>
	    <div class="dropdown col-sm-2">
		    <select id="region2" name="region2" style="width:250px"></select>
		  </div>
		  <div class="dropdown col-sm-4"></div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="sex">Sex / Age : </label>
      <div class="dropdown col-sm-2">
        <select id="sex" name="sex" style="width:100px">
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
		  </div>
		  <div class="dropdown col-sm-2" >
        <select id="age" name="age" style="width:160px"></select>
		    </ul>
		  </div>
		  <div class="col-sm-5"></div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="sex">Member of Home : </label>
      <div class="dropdown col-sm-2">
        <select id="home_mem_gbn" name="home_mem_gbn" style="width:150px"></select>
		  </div>
		  <div class="col-sm-7"></div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-11">
        <button type="submit" class="btn btn-info btn-md"><span class="glyphicon glyphicon-ok"></span> Update</button>
      </div>
    </div>

  </form>
</div>

</body>
</html>
