<div id="addEpModal" name="addEpModal" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <!-- Modal content-->
    <form class="form-horizontal" method="post" id="addApform" name ="addApform">
      <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h3 class="modal-title" id="gridSystemModalLabel">AP/EP 신규 등록</h3>
         </div>
         <div class="modal-body">
           <div class="container-fluid">
             <div class="row">
               <div class="col-sm-9">
                 <div class="form-group" style="display:none;">
                   <input type="text" id="txtInputAPEPType" name="txtInputAPEPType">
                   <input type="text" id="txtEPKind" name="txtEPKind">
                 </div>
                 <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default" id="btn_addEpModal_AP">AP</button>
                  <button type="button" class="btn btn-default" id="btn_addEpModal_EP">EP</button>
                </div>
                <div class="dropdown" id="divEPKind" name="divEPKind">
                    <label for="ddlEPKind">기기종류: </label><br />
                    <button class="btn btn-default dropdown-toggle" type="button" id="ddlEPKind" name="ddlEPKind" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      선택 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="ddlEPKind">
                      <% for(var i=0;i<applianceInfo.length;i++){
                          var appl = applianceInfo[i];
                       %>
                       <li><a role="menuitem" href="#" onclick="changeEPKind('<%= appl.DESCRIPTION %>','<%= appl.CODE %>');"><%= appl.DESCRIPTION %></a></li>
                      <% } %>
                    </ul>
                  </div>
                 <div style="display:none;">
                   <label for="txtInputApName">기기명:</label>
                   <input type="text" class="form-control" id="txt_addEpModal_ApEPName" name="txt_addEpModal_ApEPName">
                 </div>
                 <div>
                   <label for="txtInputEQSN">기기 S/N:</label>
                   <input type="text" class="form-control" id="txt_addEpModal_EQSN" name="txt_addEpModal_EQSN">
                 </div>
                 <div  id="divAPSn" name="divAPSn">
                   <label for="txtInputApSN">연결할 AP S/N</label>
                   <div class="dropdown" id="divEPKind" name="divEPKind">
                   <input type="text" class="form-control dropdown-toggle" id="txt_addEpModal_ApSN" name="txt_addEpModal_ApSN" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                   <ul class="dropdown-menu" aria-labelledby="ddlEPKind">
                     <% for(var i=0;i<myAPSNInfo.length;i++){
                         var myAP = myAPSNInfo[i];
                      %>
                      <li><a role="menuitem" href="#" onclick="selectedMyApSN('<%= myAP.SERIAL_NO %>');"><%= myAP.SERIAL_NO %></a></li>
                     <% } %>
                   </ul>
                   </div>

                 </div>
               </div>
             </div>
           </div>
         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal" id="btn_addEpModal_Close">닫기</button>
             <button type="button" class="btn btn-default" id="btn_addEpModal_submit" data-loading-text="Loading..." >등록</button>
         </div>
       </div>
   </form>
  </div>
</div>
